#btn {
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 20px;
  padding: 0%;
  border: none;

  width: 50%;
  height: 15%;

  display: block;
  cursor: pointer;
  background-color: rgb(161, 175, 98);
  color: rgb(0, 0, 0);
  transition: all 0.2s;
}

#btn:hover {
  opacity: 0.8;
}

/* ボタンの中身 */

.flex {
  display: flex; /*横並び*/
  height: 100%;
}

.flex .image {
  width: 300px;
  margin: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  position: relative;
}

.flex .image img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex .right {
  margin-top: 10px;
}

/*
.flex .right .title {
  text-align: left;
  font-weight: bold;
}
*/

/* -----右部説明の中身----- */

ul {
  text-align: left;
}

li {
  list-style: none;
}

/* タイトル：店名 */
#btn .flex .right .title p {
  font-weight: bold;
  font-size: 25px;
  margin: 0%;
}

#btn .flex .right .distance p {
  /* font-weight: bold; */
  font-size: 20px;
  margin: 2%;
}

#btn .flex .right .score p {
  /* font-weight: bold; */
  font-size: 20px;
  margin: 2%;
}
